body {
  padding-top: 60px; /* ajuste o valor de acordo com a altura da sua barra */
  background-color: #2e2d2d;
}

.background {
  padding-top: 60px; /* ajuste o valor de acordo com a altura da sua barra */
  background-color: #2e2d2d;
}
