body {
  padding-top: 60px;
  background-color: #2e2d2d;
  font-family: Arial, sans-serif;
}

.busca-contatos {
  margin-bottom: 1rem;
}

.lista-contatos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
}

.lista-contatos li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.lista-contatos li:hover {
  background-color: #ddd;
}

.lista-produtos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
}

.lista-produtos li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.lista-produtos li:hover {
  background-color: #ddd;
}

.linha-1,
.linha-2 {
  display: flex;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.busca-cliente {
  margin-bottom: 1rem;
}

.lista-produto {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
}

.lista-contatos li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.lista-contatos li:hover {
  background-color: #ddd;
}

.card-1 {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-left: 20px;
  margin-right: auto;
  max-width: 1000px;
}

.card-2 {
  position: sticky;
  top: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-left: 20px;
  margin-right: auto;
  max-width: 1000px;
}

.container-carrinho {
  flex: 0 0 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-right: 1rem;
  width: 300px;
}

.divisa {
  border-top: 1px solid rgb(44, 44, 44);
  margin-top: 20px;
  margin-bottom: 20px;
}

.produto-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  background-color: #6b0b7e;
  color: #ffffff;
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.cliente-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  background-color: #6b0b7e;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.pagamento-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  background-color: #6b0b7e;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.botao-inserir button {
  width: 131px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #495769;
  background-color: #ffffff;
  border: 1px solid #495769;

  display: block;
  margin-top: 10px;
  float: right;
  clear: both;
}

h3 {
  display: block;
  margin-bottom: 10px;
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  color: #3f3d3d;
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.transparent-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.red-icon {
  color: red;
}

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}

.botao-excluirvenda {
  float: left;
  margin-right: 10px;
}

.botao-finalizarvenda {
  float: right;
}

.botao-excluirvenda button {
  font-family: Arial;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  color: #34ad61;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  width: 189px;
  height: 32px;
}

.botao-finalizarvenda button {
  font-family: Arial;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #3faf6c;
  box-shadow: none;
  border-radius: 8px;
  width: 315px;
  height: 32px;
}

.span-total {
  font-family: Arial;
  font-size: 18.6667px;
  line-height: 28px;
  text-align: right;
  letter-spacing: normal;
  color: #495769;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 8px;
}

.span-valor {
  font-family: Arial;
  font-size: 34.6667px;
  line-height: 28px;
  text-align: right;
  letter-spacing: normal;
  color: #495769;
  background-color: #ffffff;
  width: auto;
  height: auto;
}

.campos-totais {
  padding: 1px;
  display: flex;
  margin-top: 10px;
}
