body {
  padding-top: 70px;
  zoom: 0.8;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006e;
  z-index: 1040;
  transform: scale(1.5);
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006e;
  z-index: 1040;
  transform: scale(1.5);
}

.busca-contatos {
  margin-bottom: 1rem;
}

.lista-contatos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.lista-contatos li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e4e4e4;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 9px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lista-contatos li:hover {
  background-color: #f5f5f5;
  border: 1px solid #6c757d;
}

.lista-produtos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.lista-produtos li {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e4e4e4;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 9px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.lista-produtos li:hover {
  background-color: #f5f5f5;
  border: 1px solid #6c757d;
}

.grid-1,
.grid-2 {
  position: sticky;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: auto;
  opacity: 0;
  transform: translateY(50%);
  animation: bolha 0.9s ease forwards;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* .grid-2 {
  position: sticky;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: auto;
  opacity: 0;
  transform: translateY(50%);
  animation: bolha 0.9s ease forwards;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
} */

@keyframes bolha {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.divisa {
  border-top: 1px solid rgb(199, 199, 199);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.produto-header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #34ad6065;
  height: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px; /* adicionar padding */
}

.cliente-header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #34ad6065;
  height: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px; /* adicionar padding */
}

.pagamento-header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #34ad6065;
  height: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.botao-inserir button {
  width: 131px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #495769;
  background-color: #ffffff;
  border: 1px solid #495769;

  display: block;
  margin-top: 10px;
  float: right;
  clear: both;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: normal;
  text-align: start;
  letter-spacing: 0.5px;
  color: #495769;
  background-color: #ffffff;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 16px;
  margin-bottom: 10px;
}

.texto-campos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  text-align: start;
  letter-spacing: 0.5px;
  color: #495769;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.campos-pagamento {
  font-family: "Roboto", sans-serif;
  font-size: 22.6667px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  color: #111829;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  padding: 16px;
  width: 272px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.campos-informacoes {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  color: #111829;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  width: 417px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.campo-vendedor {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: start;
  letter-spacing: normal;
  color: #111829;
  background-color: #ffffff;
  border: 4px solid;
  border-radius: 8px;
  padding: 16px;
  width: 417px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.table thead th {
  font-family: "Roboto", sans-serif;
  background-color: #6c757d;
  color: #e9ecef;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #9fabb6;
  text-align: center;
  vertical-align: middle;
}

.table tbody td {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9ecef;
  border-color: #dadadabd;
  text-align: center;
  vertical-align: middle;
}

.table tfoot td {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff5e;
  border-color: #dadadabd;
  text-align: center;
  vertical-align: middle;
}

.transparent-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.red-icon {
  color: red;
}

.blue-icon {
  color: rgb(38, 31, 126);
}

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px; /* altura ajustável */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(168, 168, 168);
}

.botao-excluirvenda {
  float: left;
  margin-right: 10px;
}

.botao-finalizarvenda {
  float: right;
}
.botao-excluirvenda button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  color: #34ad61;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  width: 240px;
  height: 40px;
  padding: 8px 20px;
}

.botao-finalizarvenda button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #757575;
  box-shadow: none;
  border-radius: 8px;
  width: 360px;
  height: 40px;
  padding: 8px 20px;
}

.span-total {
  font-family: "Roboto", sans-serif;
  font-size: 18.6667px;
  line-height: 28px;
  text-align: right;
  letter-spacing: normal;
  color: #495769;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 8px;
}

.span-valor {
  font-family: "Roboto", sans-serif;
  font-size: 34.6667px;
  line-height: 28px;
  text-align: right;
  letter-spacing: normal;
  color: #495769;
  background-color: #ffffff;
  width: auto;
  height: auto;
}

.campos-totais {
  padding: 1px;
  display: flex;
  margin-top: 10px;
}

.produto-selecionado {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.produto-selecionado h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #212529;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding: 1px;
  margin-top: 10px;
}

.gerar-nota {
  width: 265px;
  height: 94px;
  margin: 10px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.6667px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  color: #495769;
  background-color: #ffffff;
  fill: #495769;
  box-shadow: rgba(73, 87, 105, 0.24) 0px 0px 4px 0px;
  border-radius: 8px;
}

.alert p {
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
